Aplikacja pozwalająca na zapamietywanie wydatków i przychodów oraz ich prezentacje w formie czytelnych zestawien i wykresow.
Podstawowe funkcje aplikacji:
    * wprowadzanie wydatków/przychodów i przypisywanie ich do definiowanych przez uzytkownika kategorii,
    * filtrowanie wpisów i tworzenie z nich uzytecznych zestawien w formie tabeli i/lub wykresów