Aplikacja pozwalająca na zapamietywanie wydatków i przychodów oraz ich prezentacje w formie czytelnych zestawien i wykresow.
Podstawowe funkcje aplikacji:
    * wprowadzanie wydatków/przychodów i przypisywanie ich do definiowanych przez uzytkownika kategorii,
    * filtrowanie wpisów i tworzenie z nich uzytecznych zestawien w formie tabeli i/lub wykresów

Kryteria oceny projektów:

ocena dst
- aplikacja powinna działać, tzn. student powinien być w stanie uruchomić ją przynajmniej na swoim komputerze,
- aplikacja powinna realizować niektóre wymagania określone w opisie,

ocena db - to co na ocenę dst +
- aplikacja powinna realizować wszystkie wymagania określone w opisie,
- aplikacja powinna być wdrożona na zewnętrznym serwerze i/lub uruchomiona na Dockerze,

ocena bdb - to co na ocenę db +
- aplikacja powinna mieć estetyczny wygląd (elementy graficzne) i/lub aplikacja powinna być bezpieczna i zawierać testy automatyczne,
- aplikacja powinna realizować przynajmniej dwie z następujących funkcjonalności: wysyłanie emaili, wysyłanie sms, generowanie pliku pdf, prezentacja graficznego wykresu, captcha, prezentacja mapy google lub podobnej, upload plików, prezentacja kalendarza z wydarzeniami.