{% extends "wallet/base.html" %}
{% block content %}

    <div>
        <h2>
            About us
        </h2>
        <div>
            <p> We are a group of students from Białystok University of Technology, and this wallet app is <br>
                our course project from a course "Open Source Frameworks for Rapid Application Development" </p>

            <p> Below there is a map containing address to our University - Białystok University of Technology</p>
        </div>
        <iframe
                class="map-iframe"
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key={{ api_key }}&q=Politechnika+Białostocka,Białystok"
                allowfullscreen
        >
        </iframe>
        <p>
            Feel free to contact us at xyz@testmail.com
        </p>
    </div>
{% endblock %}