{% extends "wallet/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.get_username }}</h1>
        <h2>What you want to do today?</h2>

        {% if wallet_list %}
            <br/>
            <h3>This month: </h3>
            <h4>
                <span class="action-home-wrapper">
                    Earn:
                    <b class="income-amount-home">{{ income_sum_month }}</b>
                </span>
                <span class="action-home-wrapper">
                Spend:
                <b class="expense-amount-home">{{ expense_sum_month }}</b>
                </span>
            </h4>
            <br/>

            <h3>In last week: </h3>
            <h4>
            <span class="action-home-wrapper">
                Earn:
                <b class="income-amount-home">{{ income_sum_in_last_week }}</b>
            </span>
                <span class="action-home-wrapper">
                Spend:
                <b class="expense-amount-home">{{ expense_sum_in_last_week }}</b>
                </span>
            </h4>
            <br/>
        {% else %}
            <br/>
            <h5>You don't have any wallet, please add one</h5>
            <a href="/wallet/add" class="btn btn-primary" role="button" aria-disabled="true">Add wallet</a>
        {% endif %}
    {% else %}
        <h3>You are not logged in :(</h3>
        <br/>
        <h3>Please login to see your wallets</h3>
        <a href="/login" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Log in</a>
    {% endif %}
{% endblock content %}
