{% extends "wallet/base.html" %}


{% block scripts %}
    <script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#table_incomes tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('#table_incomes').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        },
                "order": [[ 0, "desc" ]]
    });

} );
    </script>
{% endblock scripts%}

{% block content %}
    <h3>Here you can see your incomes</h3>
    <div>
        <table id="table_incomes" class="ui celled table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Source</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Wallet</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
            {% for income in incomeList %}
                <tr>
                    <td>{{ income.createdAt }}</td>
                    <td>{{ income.source }}</td>
                    <td>${{ income.amount }}</td>
                    <td>{{ income.category.name }}</td>
                    <td>{{ income.wallet.name }}</td>
                    <td><a href="/wallet/income/{{ income.id }}" class="btn-sm btn-primary">See details</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Date</th>
                    <th>Source</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Wallet</th>
                    <th>Details</th>
                </tr>
        </tfoot>
    </table>
    </div>
    </div>
    <br/>
{% endblock content %}
