{% extends "wallet/base.html" %}
{% block content %}
    <h3>Adding income to: {{ wallet.name }}</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group wallet-add-wrapper">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Create">
        <a type="button" class="btn btn-secondary" href="/wallet/{{ wallet_id }}">Go to Wallet</a>
    </form>
{% endblock content %}