{% extends "wallet/base.html" %}

{% block scripts %}
    <script>
    $(document).ready(function () {

        var ctx = document.getElementById('walletChart').getContext('2d');
        var walletChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Wallet Amount', 'Sum of Incomes'],
                datasets: [{
                    label: 'Incomes vs Wallet amount',
                    data: [{{wallet.amount}},{{ income_sum }}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderColor: '#FFF',
                    borderWidth: 3,

                }]
            },
            options: {
                hover: {
                    mode: 'index'
                }
            }
        });
    });
    </script>

{% endblock scripts%}

{% block content %}
    <div class="wrapper">
    <div class="info">
    {% if wallet %}
        <a href="/wallet/{{ wallet.id }}/delete" class="btn btn-danger button-right-flow active delete-button-right"
           role="button" aria-pressed="true">Delete</a>
        <h3>Wallet: {{ wallet.name }}</h3>
        <h4>Actual amount: {{ wallet.amount }}</h4>
        <h5>Creator: {{ wallet.user }}</h5>
        <h5>Created at: {{ wallet.createdAt }}</h5>
        <h5>Updated at: {{ wallet.updatedAt }}</h5>
        </div>
        <div class="chart">
            <canvas id="walletChart"></canvas>
        </div>
        </div>
        <br/>
        {% if not lastIncomes and not lastExpenses %}
            <h3>Please, add any data to wallet </h3>
            <a class="btn btn-primary" href="/wallet/{{ wallet.id }}/income/add">
                Add income
            </a>
            <a class="btn btn-primary" href="/wallet/{{ wallet.id }}/expense/add">
                Add expense
            </a>
        {% else %}
            {% if lastIncomes %}
                <div class="last-incomes ">
                    <h4>Last incomes:
                        <a class="btn-sm btn-primary add-action-right-btn" href="/wallet/{{ wallet.id }}/income/add">
                            Add income
                        </a>
                    </h4>
                    <ul class="list-group">
                        {% for income in lastIncomes %}
                            <li class="list-group-item list-group-item-action"><a
                                    href="/wallet/income/{{ income.id }}/">{{ income.source }}</a> {{ income.amount }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a class="btn btn-primary" href="/wallet/{{ wallet.id }}/income/add">
                    Add income
                </a>
            {% endif %}
            <br/>
            {% if lastExpenses %}
                <div class="last-expenses">
                    <h4>Last expanses:
                        <a class="btn-sm btn-primary add-action-right-btn" href="/wallet/{{ wallet.id }}/expense/add">
                            Add expense
                        </a>
                    </h4>
                    <ul class="list-group">
                        {% for expense in lastExpenses %}
                            <li class="list-group-item list-group-item-action"><a
                                    href="/wallet/expense/{{ expense.id }}/">{{ expense.name }}</a>
                                {{ expense.amount }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a class="btn btn-primary" href="/wallet/{{ wallet.id }}/expense/add">
                    Add expense
                </a>

            {% endif %}
        {% endif %}
    {% else %}
        <p>Wallet is not available</p>
    {% endif %}

{% endblock content %}