.container {
    margin-top: 30px;
}

.wallet-list-wrapper, .income-list-wrapper, .expense-list-wrapper {
    max-width: 50%;
}

.wallet-add-wrapper input, select {
    max-width: 300px;
}

.income-amount {
    float: right;
    color: green;
}

.expense-amount {
    float: right;
    color: red;
}

.button-right-flow {
    float: right;
    color: red;
}

.income-card, .expense-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.details-body {
    width: 60%;
}

.details-body .details-field-name {
    margin-right: 40px;
}

.details-body .details-field-value {
    float: right;
}

.details-body .details-field-value {
    font-size: large;
}

.last-incomes .add-action-right-btn, .last-expenses .add-action-right-btn {
    display: inline-block;
    float: right;
}

.list-group-item-action a {
    margin-right: 15px;
}