{% extends "wallet/base.html" %}
{% block content %}
    <div class="details-body">
        <h3>Expense details</h3>
        <div class="form-group">
            <label class="details-field-name">Name:</label>
            <p class="details-field-value"> {{ expense.name }}</p>
        </div>
        <div class="form-group">
            <label class="details-field-name">Amount:</label>
            <p class="details-field-value"> {{ expense.amount }}</p>
        </div>
        <div class="form-group">
            <label class="details-field-name">Created at:</label>
            <p class="details-field-value"> {{ expense.createdAt }}</p>
        </div>
        <div class="form-group">
            <label class="details-field-name">Execution date:</label>
            <p class="details-field-value"> {{ expense.executionDate }}</p>
        </div>
        <div class="form-group">
            <label class="details-field-name">Wallet name:</label>
            <a class="details-field-value" href="/wallet/{{ expense.wallet.id }}">  {{ expense.wallet.name }}</a>
        </div>
        <div class="form-group">
            <label class="details-field-name">Category:</label>
            <p class="details-field-value"> {{ expense.category.name }}</p>
        </div>
        <div class="form-group">
            <label class="details-field-name">Created by:</label>
            <p class="details-field-value"> {{ expense.user }}</p>
        </div>
        <a href="/wallet/expense/{{ expense.id }}/update" class="btn btn-warning button-right-flow"
           role="button" aria-pressed="true">Edit</a>
        <a href="/wallet/expense/{{ expense.id }}/delete" class="btn btn-danger button-right-flow active"
           role="button" aria-pressed="true">Delete</a>
        <a type="button" class="btn btn-primary" href="/wallet/{{ expense.wallet.id }}">Go to Wallet</a>
        <a type="button" class="btn btn-secondary" href="/wallet/expense">Go to Expenses</a>

    </div>
{% endblock content %}